body {
  font-family: 'Montserrat', sans-serif;
}


/* title section */
#title {
  background-color: #ff4c68;
  color: #FFFFFF;
}

.download-button {
  margin: 5% 3% 0 0;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
}

.nav-item {
  padding: 0 18px;
}

.container-fluid {
  padding: 3% 15% 9%;
}

.phone {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  left: 15.5%;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* center align and straighten title image on tablet and mobile */
@media only screen and (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .download-button {
    margin: 5% 3% 15% 0;
  }

  .phone {
    position: static;
    transform: rotate(0);
  }
}


/* features section */
#features {
  background-color: #FFFFFF;
  width: 100%;
  padding: 5% 10%;
  position: relative;
}

#features>div>div>p {
  color: #8f8f8f;
}

.fa-check-circle, .fa-bullseye, .fa-heart {
  margin-bottom: 20px;
  color: #ef8172;
}

.fa-check-circle:hover, .fa-bullseye:hover, .fa-heart:hover {
  color: #ff4c68;
}

.feature-item {
  padding: 50px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

/* testimonals section */
#testimonials {
  background-color: #ef8172;
  color: #FFFFFF;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

/* press section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  width: 100%;
}

#press>img {
  width: 15%;
  margin: 20px 20px 50px;
}


/* pricing section */
#pricing {
  padding: 7% 15%;
  width: 100%;
}

.pricing-card {
  padding-bottom: 15px;
  padding-top: 15px;
}


/* call to action section */
#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
}

#cta > h3 {
  color: #FFFFFF;
  font-size: 3.5rem;
  line-height: 1.5;
}


/* footer section */
#footer {
  padding: 7% 15%;
}

.fa-twitter, .fa-facebook-f, .fa-instagram, .fa-envelope {
  margin: 0 1% 2% 1%;
}

#footer>p {
  color: #8f8f8f;
}
